/ {
    aliases {
        max30101 = &max30101;
    };
};


&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            /* Using standard DK I2C pins: P0.26 (SDA) and P0.27 (SCL) */
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            bias-pull-up; /* Essential for 1.8V logic if external resistors are missing */
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>; /* 400kHz */

    max30101: max30101@57 {
        compatible = "maxim,max30101";
        reg = <0x57>;

        irq-gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;

        led-slot = <3 0 0 0>;

        led-pa = <0 0 0x3F>;

        acq-mode = "multi-led";
        adc-rge = <1>;
        smp-sr = <6>;
        led-pw = <2>;

        smp-ave = <4>;
        fifo-rollover-en;
        fifo-watermark = <10>;
    };
};

/ {
	zephyr,user {
		io-channels = <&adc 1>;
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.02 for nRF52xx, P0.04 for nRF5340 */
		zephyr,resolution = <12>;
	};
};
