/ {
    aliases {
        /* This alias allows the C code to find the sensor easily */
        maxm86161 = &maxm86161;
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            /* Using P0.26 (SDA) and P0.27 (SCL) as per your previous setup */
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            bias-pull-up;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_FAST>; /* 400kHz for PPG data */

    maxm86161: maxm86161@62 {
        compatible = "maxim,maxm86161";
        reg = <0x62>; /* Correct I2C address for MAXM86161 */

        /* Interrupt pin for data ready signals */
        irq-gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;

        status = "okay";
    };
};

/* Keep your ADC configuration if you still need battery monitoring */
&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
        zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.02 */
        zephyr,resolution = <12>;
    };
};

/ {
    zephyr,user {
        io-channels = <&adc 1>;
    };
};
